<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @sala.descricao %>
</p>

<%= link_to 'Edit', edit_sala_path(@sala) %> |
<%= link_to 'Back', salas_path %>
<%= link_to 'Home', home_index_path %>
